$gray-50: #fbfbfb !default;
$gray-55: #555555 !default;
$gray-150: #ebebeb !default; // 매우 밝은 배경, 홀짝 행 구분 등에 사용
$gray-525: #aaaaaa !default;
$gray-550: #848484 !default;

$nav-pills-link-border-radius: 0;
